@charset "utf-8";
/* CSS Document */

#ubicacion{
width: 400px;
background: #EDEDED;
height: 150px;
border-radius: 15px;
border: 1px solid black;
padding: 5px;
}
#map_canvas {
  height: 100%;
  float:right;
}
#map_canvas a img{
	display:none;
}
@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
.gmnoprint {
	display:none;
}

fieldset{
  width:700px;
  margin:0;

  padding:0;
}

body{

  font-family: "Open Sans", arial;
  margin:1em;
}


fieldset h3{
  margin: 0.3em;
  margin-bottom:-1em;
}

fieldset input{
  border:none!important;
}

.form-panel {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
}
.form-panel-heading,
.form-panel .checkbox {
  margin-bottom: 10px;
}
.form-panel .checkbox {
  font-weight: normal;
}
.form-panel .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-panel .form-control:focus {
  z-index: 2;
}